.header {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  /* display: flex; */
  margin-top: 45px;
  /* min-height: 74px; */
  padding-bottom: 40px;
  border-bottom: 1px solid #848484;
}

.header__logo {
   width:173px;
   height: 33px;
}

@media screen and (max-width: 700px) {
  .header {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    /* border-bottom: 1px solid #545454; */
    /* height: 56px; */
    padding: 28px 28px 32px;
  }
  .header__logo {
    width: 126px;
    height: 24px;
    margin-top: 28px;
    margin-bottom: 32px;
    margin-left: 27px;
    margin-right: 167px;
  }
}
