.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 19px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  color: #000;
}

.modal__container {
  top: 90px;
  width: 100%;
  position: relative;
  background-color: #fff;
  align-items: center;
  border-radius: 10px;
  margin: auto;
  max-width: 430px;
  padding: 36px;
  box-sizing: border-box;
}

.modal__container-preview {
  background-color: transparent;
  /*max-width: 75wv;
  padding: 0px;
  max-height: 75hv;*/
  position: relative;
  margin: auto;
}

.modal__heading {
  margin-bottom: 54px;
  margin-top: 0;
  font-size: 18px;
  font-weight: 900;
  line-height: 29px;
}

.modal__close {
  width: 23px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  bottom: calc(100% - 50px);
  left: calc(100% + 40px);
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__input {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
}

.modal__input:last-of-type {
  margin-bottom: 48px;
}

.modal__button {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
}

.modal__image-caption {
  width: fit-content;
  color: #fff;
}

.modal__image {
  position: relative;
  width: 433px;
  height: 540px;
  max-width: 80vw;
  max-height: 80vh;
}

.close__icon {
  width: 40px;
  height: 40px;
  top: 41px;
  left: 878.28px;
  gap: 0px;
  opacity: 0px;
  cursor: pointer;
}

@media screen and (max-width: 582px) {
  .modal__heading {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 75px;
  }
  .modal__input {
    font-size: 14px;
    line-height: 18px;
  }
  .modal__close {
    bottom: calc(100% + 5px);
    left: calc(100% - 15px);
    height: 26px;
    width: 26px;
    cursor: pointer;
    top: 5px;
  }

  .modal__close-edit {
    left: calc(100% - 35px);
    cursor: pointer;
    top: auto;
  }

  .modal__close-add {
    left: calc(100% - 35px);
    cursor: pointer;
    top: auto;
  }

  .modal__button {
    height: 46px;
    border-radius: 2px 0px 0px 0px;
    opacity: 0px;
    font-size: 14px;
    line-height: 17px;
    cursor: pointer;
  }
  .modal__image {
    max-height: none;
    max-width: none;
    width: 240px;
    height: 299px;
    right: 15px;
  }
}
