.profile {
  display: flex;
  align-items: center;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: repeat(auto, 373px);
  grid-gap: 7px 17px;
  list-style-type: none;
}

.profile__title {
  white-space: nowrap;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__edit-button {
  background: transparent url(../images/edit\ button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  font-weight: 500;
  grid-area: button;
  margin-top: 16px;
  margin-bottom: 24px;
  /* border: 1px solid #fff; */
}

.profile__description {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  max-width: 373px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__add-button {
  background: transparent url(../images/add\ button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-bottom: 86px;
  margin-top: 75px;
  margin-left: auto;
  border: 2px solid #fff;
  border-radius: 2px;
}

.profile__image {
  height: 120px;
  width: 120px;
  margin-top: 40px;
  margin-bottom: 51px;
  object-position: cover;
  background-position: center;
  margin-right: 30px;
  border-radius: 50%;
}

@media screen and (max-width: 700px) {
  .profile {
    width: 282px;
    /* padding-bottom: 36px; */
    background-color: #000;
    flex-direction: column;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .profile__description {
    width: 100%;
    /* height: 14px; */
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    max-width: 196px;
  }
  .profile__add-button {
    width: 282px;
    height: 50px;
    margin: 36px 19px;
  }
  .profile__title {
    /* font-family: "Inter", Arial, Helvetica, sans-serif; */
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    /* font-weight: 500; */
    color: #fff;
    width: 196px;
    /* height: 22px;
    */
  }

  .profile__image {
    /* width: 120px; */
    /* height: 120px; */
    margin-top: 42px;
    margin-bottom: 30px;
    margin-left: 101px;
    margin-right: 99px;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-right: 0;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 4px;
    border: 1px solid #fff;
  }
}

